$GEN_ISO_FOR_EXTERNAL_APP
1
$
$GEN_INIT
?%%ETK[500]=100
;?%%ETK[500]=%%ax[0].pa[22]/1000 ;solo per zone
_paras( 0x00, X, 3, %%ax[0].pa[21]/1000, %%ETK[500] )
;
G0 G53 Z %%ax[2].pa[22]/1000
M58 ;abilita controllo vuoto
$
$GEN_END
?%%ETK[0]=0
?%%ETK[1]=0
?%%ETK[2]=0
?%%ETK[13]=0
?%%ETK[17]=0
?%%ETK[18]=0
?%%ETK[19]=0
$
$H03_VECTOR
C
$
$H04_VECTOR
B
$
$H03_BLOWERON
M220
$
$H03_BLOWEROFF
M221
$
$H04_BLOWERON
M222
$
$H04_BLOWEROFF
M223
$
$GEN_PGMLOG
1
$
$GEN_MAXTOOLRAD
100
$
$GEN_MAXTOOLLEN
160.1
$
$GEN_RAPID01RAD
250
$
$GEN_RAPID02RAD
250
$
$GEN_SPINTIME
0.5
$
$GEN_TSPOPEN
$
$GEN_TSPCLOSE
$
$GEN_UTMAXLEN
155
$
$GEN_RAPIDQAP
0
$
